nav {
    background-color: #141A53;
    overflow: hidden;
  }
  /* CSS for NavBar Anchor Tag i.e. Links  */
  nav a{
    color: white;
    text-align: center;
    padding: 15px;
    padding-right: 5%;
    padding-left: 5%;
    float: left;
    display: block;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  nav a:hover{
    background-color: #0e123c;
  }

  nav a img{
    height: 40px;
    width: 40px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(103%) contrast(103%);
  }
  nav a p{
    padding: 0px;
    margin: 0px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
  }
  /* Sticky Class Designed to provide Sticky Property to the Navbar using JavaScript */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    nav a{
        padding-right: 3%;
        padding-left: 3%;
    }
  }
  @media only screen and (max-width: 348px) {
    nav a{
        padding-right: 1%;
        padding-left: 1%;
    }
  }