body, html {
    height: 100%;
    padding: 0px;
    margin: 0px;
}
main {
    background-image: url(images/test.webp);
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
 
.overlay{
    height: 100%;
    width: 100%;
}
section{
    height: 75%;
}
footer{
    background-color: navy;
    height: 20%;
}